# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Env / Secrets
.env
.env.local
.env.*.local

# Vercel local build artifacts
.vercel

# MacOS metadata
.DS_Store

# Logs
logs
*.log
*.tmp

# Build outputs
dist/
build/
